/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage
/storage/app/public/foto_monitoring
/storage/app/public/foto_pemberian
/storage/app/public/dokumentasi_penyaluran
/storage/app/public/dokumentasi_pengajuan
/storage/app/public/bap_penyaluran
/storage/app/public/bap_pemeriksaan